@import '~antd/dist/antd.css';

@font-face {
  font-family: 'Lakton';
  src: local('Lakton'), url(./assets/fonts/Lekton-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lakton';
  src: local('Lakton'), url(./assets/fonts/Lekton-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: bold;
}

#logo {
  font-family: 'Baloo Bhaina', serif;
}

html, body, #root {
  height: 100%;
  font-family: 'Lakton';
}

.App {
  min-height: 100%;
}

@media screen and (max-width: 600px) {
  .remove-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.txt-right {
  text-align: right;
}


/*
  Antd overrides
*/
.marginless {
  margin-bottom: 0 !important;
}
.step-title {
  line-height: inherit !important;
}
