@import '~antd/dist/antd.css';

html, body, #root, .App {
  height: 100%;
}

@media screen and (max-width: 600px) {
  .remove-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.txt-right {
  text-align: right;
}
